<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062912859500-kcam0ofrqligjgkk629rp7mrf3uprv1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062912859500-kcam0ofrqligjgkk629rp7mrf3uprv1j</string>
	<key>API_KEY</key>
	<string>AIzaSyALm5WBK0afPbzIrN9yFmjrxniyRrDnmZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1062912859500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azsolcsak.makeMeRich</string>
	<key>PROJECT_ID</key>
	<string>makemerich-dec84</string>
	<key>STORAGE_BUCKET</key>
	<string>makemerich-dec84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062912859500:ios:7b6784d941f82544d0e749</string>
</dict>
</plist>